<div class="intro">
  <h1>Find Housing Grants</h1>
</div>
<div class="form-group col-xs-12 col-sm-6">
  <h3>Fill Out Your Info</h3>
  <label for="sel1">Location:</label>
  <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
  <label for="sel2">Age:</label>
  <select class="form-control" id="sel2">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div>
<div class="results col-xs-12 col-sm-6">
  <h3>Grants Available To You</h3>
  <div class="media">
    <div class="media-left">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Grant 1</h4>
      ...
    </div>
  </div>
  <div class="media">
    <div class="media-left">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Grant 1</h4>
      ...
    </div>
  </div>
</div>