<div class="intro">
    <h1>Fill Out Your Info</h1>
  </div>
  <div class="form-group col-xs-12 col-sm-6">
    <label for="sel1">Location:</label>
    <select class="form-control" id="sel1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <label for="sel2">Age:</label>
    <select class="form-control" id="sel2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>