<div class="form-group col-xs-12 col-sm-6">
  <h3>Fill Out Your Information</h3>
  <label for="sel1">Location:</label>
  <select class="form-control" id="sel1">
    <option></option>
    <option>Seattle</option>
    <option>Spokane</option>
  </select>
  <label for="sel2">Age:</label>
  <select class="form-control" id="sel2">
    <option>Under 25</option>
    <option>26 to 59</option>
    <option>60 +</option>
  </select>
  <button type="button" class="btn btn-success">Search</button>
</div>
<div class="results col-xs-12 col-sm-6">
  <h3>Grants Available To You</h3>
  <div class="media">
    <div class="media-left">
    </div>
    <div class="media-body">
      <h5 class="media-heading">Down Payment Assitance Grant</h5>
      ...
    </div>
  </div>
  <div class="media">
    <div class="media-left">
    </div>
    <div class="media-body">
      <h5 class="media-heading">Low Income Grant</h5>
      ...
    </div>
  </div>
  <div class="result-total">
    <h4>Total Savings:</h4>
    <p>$50,000</p>
  </div>
</div>
<div class="map-container col-xs-12 col-sm-6">

</div>