// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body {
  background-color: #f6f6f6;
  padding-top: 50px;
  font-family: Roboto;
}

body .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,116,228,0.97);
  border-radius: 0;
  .title h4 {
    margin-top: 14px;
    margin-left: 14px;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.intro {
  text-align: center;
  h1 {
    font-weight: 300;
  }
}

.form-group {
    margin-left: auto;
    margin-right: auto;
    h3 {
      font-weight: 300;
    }
    label {
      font-weight: 300;
    }
}
.results {
  h3 , .media-heading {
    font-weight: 300;
  }
}