// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body {
  background-color: #f6f6f6;
  padding-top: 50px;
  font-family: Roboto;
}

body .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,116,228,0.97);
  border-radius: 0;
  .title h4 {
    margin-top: 14px;
    margin-left: 14px;
    a {
      color: #fff;
      text-decoration: none;
    }
    @media (max-width: 768px) {
      margin-top: 10px;
      margin-left: 24px;
    }
  }
}

body .form-group {
    background-color: #fff;
    height: 700px;
    margin-bottom: 0;
    -webkit-box-shadow: 2px 0 5px -2px #888;
            box-shadow: 2px 0 5px -2px #888;
    h3 {
      font-weight: 300;
    }
    label {
      font-weight: 300;
    }
    .btn-success {
      margin: 10px 10px 10px 0;
      background-color: #fff;
      color: #74c005;
      border: 1px solid #74c005;
      -webkit-transition: all 0.2s, -webkit-transform 2s;
      transition: all 0.2s, transform 2s;
      &:hover {
        color: #fff;
        border: 1px solid #74c005;
        background-color: #74c005;
      }
    }
    @media (max-width: 768px) {
      height: 300px;
    }
}

.results {
  height: 400px;
  h3 {
    font-weight: 300;
  }
  .media-heading {
    font-weight: 400;
    text-decoration: underline;
  }
  .result-total {
    h4, p { display: inline; }
  }
}

.map-container {
  background-color: #fff;
  height: 300px;
}